ul {
  list-style-type: none;
}

img {
  border: 2px solid beige;
}

.productImg {
  display: block;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 0.5rem;
}

.productGrid > div * {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.crossout {
  text-decoration: line-through;
  color: #555;
}

h4 {
  margin: 0.2rem;
}
