@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

main {
  margin: 1rem 10rem 1rem 10rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  margin: 0;
  font-weight: 0;
  font-family: "anton";
}

/* unvisited link */
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

/* selected link */
a:active {
  color: #888;
}

img {
  border: 0.1rem solid #eee;
}

.productImg {
  width: 80%;
}

.productName {
  font-size: 4.5rem;
  margin-bottom: 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 0.5rem;
}

.productGrid > div * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.crossout {
  text-decoration: line-through;
  color: #999;
}

h4 {
  margin: 0.2rem;
}

.imageHolder {
  position: relative;
}

.discount {
  position: absolute;
  /* top: 0.5rem; */
  left: 0;
  right: 0;
  bottom: 0.5rem;
}

.discount p {
  width: max-content;
  margin: 0;
  padding: 0.5rem; /* 0.7rem 0.5rem 0.7rem;*/
  font-size: 2em;
  background-color: rgb(199, 0, 40);
  opacity: 80%;
  font-weight: 400;
  color: white;
}

.hidden {
  display: none;
}

header h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  margin: 0;
  color: #333;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

.productDisplay {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

section {
  display: flex;
  justify-content: left;
  font-size: 1.7rem;
  margin-top: 0;
  align-items: flex-start;
}

section > * {
  border-right: solid 1px black;
  padding: 0 1rem 0 1rem;
  margin: 0;
}

@media (max-width: 1000px) {
  .productDisplay {
    flex-direction: column;
  }
}
